<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
<div>
<div class="container-fluid main_app_bck">
  <div class="row justify-content-center">
    <ul>
      <li><a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="my_btn_act" class="my_btn">Home</a></li>
<!--      <li><a routerLink="/features" routerLinkActive="my_btn_act" class="my_btn">Features</a></li>-->
<!--      <li><a routerLink="/docs"  routerLinkActive="my_btn_act" class="my_btn">Docs</a></li>-->
<!--      <li><a routerLink="/resources" routerLinkActive="my_btn_act" class="my_btn">Resources</a></li>-->
<!--      <li><a routerLink="/blog" routerLinkActive="my_btn_act" class="my_btn">Blog</a></li>-->
      <li><a routerLink="/calendar" routerLinkActive="my_btn_act" class="my_btn">Calendar</a></li>
      <li><a routerLink="/weather" routerLinkActive="my_btn_act" class="my_btn">Weather</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>

<!--<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>-->
<!--<script>-->
  <!--// Initialize Firebase-->
  <!--var config = {-->
    <!--apiKey: "AIzaSyCaG7Jiv5NuWConLc8h9TstKw9RWJ5joP0",-->
    <!--authDomain: "angrylar-requests.firebaseapp.com",-->
    <!--databaseURL: "https://angrylar-requests.firebaseio.com",-->
    <!--projectId: "angrylar-requests",-->
    <!--storageBucket: "angrylar-requests.appspot.com",-->
    <!--messagingSenderId: "1012396963794"-->
  <!--};-->
  <!--firebase.initializeApp(config);-->
<!--</script>-->
</div>
