<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
<div>
<div class="container-fluid main_app_bck">
  <div class="row justify-content-center">
    <ul>
      <li><a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="my_btn_act" class="my_btn">Home</a></li>
<!--      <li><a routerLink="/features" routerLinkActive="my_btn_act" class="my_btn">Features</a></li>-->
<!--      <li><a routerLink="/docs"  routerLinkActive="my_btn_act" class="my_btn">Docs</a></li>-->
<!--      <li><a routerLink="/resources" routerLinkActive="my_btn_act" class="my_btn">Resources</a></li>-->
<!--      <li><a routerLink="/blog" routerLinkActive="my_btn_act" class="my_btn">Blog</a></li>-->
      <li><a routerLink="/calendar" routerLinkActive="my_btn_act" class="my_btn">Calendar</a></li>
      <li><a routerLink="/weather" routerLinkActive="my_btn_act" class="my_btn">Weather</a></li>
    </ul>
  </div>
  <div *ngIf="auth.user$ | async as user">
    <h3>Logged in as {{ user.displayName }}</h3>
    <img src="{{ user.photoURL }}" width="50px">
  </div>


  <button (click)="auth.login()" class="button is-danger">Login with Google</button>
  <button (click)="auth.logout()" class="button">Logout</button>

</div>
<router-outlet></router-outlet>

</div>
